<h1> Foods you can make using <%=@ingredient_one%>, <%=@ingredient_two%>, and <%=@ingredient_three%>: </h1>


<% @parsed_data.each do |recipe| %>
  <li>
    <% if recipe['id'] && recipe['title'] %>
      <a href="/get_recipe/<%= recipe['id'] %>"><%= recipe['title'] %></a>
    <% else %>
      <span>Invalid recipe data</span>
    <% end %>
  </li>
<% end %>




<a href="/food_form">Let's find other foods!</a>
